
/* Overrule nav-link styling */
    .nav-link, .nav-link:active {
        border: none !important;
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    
    .nav-pills {
        width: 25em;
    }
    
    .nav-item {
        height: 40px;
    }
    
    .nav-link{
        .question-title {
            padding-bottom: 0.5em;
            width: 100%;
            max-width: 100%;
        
    
            button {
                color: $black;
                background-color: $white; 
                justify-content: left;   
            }
            
        
            .tab-step, .tab-answer {
                flex: 0 0 5em;
            }
    
            .tab-question {
                flex-basis: fill;
                text-align: left;
    
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap
    
                ;
            }
    
            &:hover{
                button {
                    color: $white;
                    background-color: $blue;
                }
            }
        
            
        }
    
        &.active {
            button {
                color: $white;
                background-color: $blue;
            }
        }
    }


/* Transitions */
/* slide-right */

.slide-right-leave-active,
.slide-right-enter-active {
    transition: all 0.3s;
}

.slide-right-enter {
    opacity: 0;
    transform: translate(-30px, 0);
}

.slide-right-enter-to,
.slide-right-leave {
    opacity: 1;
    transform: translate(0, 0);
}

.slide-right-leave-to {
    opacity: 0;
    transform: translate(30px, 0);
}
