$green:         #007c00;
$light-green:   #34B233;
$dark-green:    #34662f;

$orange:        #ED7301;
$light-orange:  #FF9933;

$error-orange:  #f07600;

$blue:          #306EA1;
$light-blue:    #6AADE4;
$dark-blue:     #015172;

$white:         #FFFFFF;
$grey:          #DEDCCF;
$light-grey:    #EEEDE6;
$dark-grey:     #333333;
$black:         #000000;